button {padding:1px 3px; border-width:1px; margin:2px; background-color:#E0E0E0;}
select {background-color:#E0E0E0; border-width:1px;padding:1px 0;}
[type=button] {padding:1px 3px; border-width:1px; margin:2px; background-color:#E0E0E0;}
