@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');
body {
	font-family: 'Quicksand', sans-serif;
	color: black;
	letter-spacing: 0.05em;
}

div {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.05em;
}

button {
	letter-spacing: 0.05em;
}

u {
	letter-spacing: 0.05em;
}

iframe {
	display: block;
	width: 100%;
}

.titleLogo {
	color: #003D7C;
	font-size: 40px;
}

.title {
	font-size: 18px;
	font-weight: 400;
}

.subtitle {
	font-size: 16px;
	font-weight: 400;
}

a.modalLink.subtitle {
	font-size: 14px;
	display: block;
	height: 100%;
	width: 100%;
	padding: 5px;
}

.content {
	font-size: 14px;
	line-height: 1.5;
}

.contentSmall {
	font-size: 12px;
	line-height: 1.5;
	font-weight: 300;
}

@media screen and (max-width: 767px) {
	.title {
		font-size: 15px;
	}
	.subtitle {
		font-size: 13px;
	}
	a.modalLink.subtitle {
		font-size: 13px;
	}
	.content {
		font-size: 13px;
	}
	.contentSmall {
		font-size: 12px;
	}
	li {
		font-size: 13px;
	}
}


/*scrollbar*/

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}


/* Track */

::-webkit-scrollbar-track {
	background: #f5f5f5;
}


/* Handle */

::-webkit-scrollbar-thumb {
	background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #555;
}


/*navbar*/

.myNav.navbar {
	background-color: white;
	margin-left: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	font-size: 16px;
	font-weight: 400;
}

.navbar a {
	color: black;
}

.nav.navbar-nav a:hover {
	background: linear-gradient(rgba(0, 61, 124, 1) 50%, rgba(0, 0, 0, 0.6) 100%) 0% 100% no-repeat;
	background-size: 100% 7px;
	content: " ";
	color: black;
}

.nav.navbar-nav a:focus {
	background-color: white;
	color: black;
}

.nav>li.dropdown.open .dropdown-menu {
	display: table;
	border-radius: 0px;
	min-width: 100%;
	text-align: center;
	left: 0;
	right: 0;
}

.myMenu.dropdown-menu {
	font-size: 14px;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.myMenu.dropdown-menu a {
	padding-top: 5px;
	padding-bottom: 5px;
}

#nav ul li:hover {
	color: green;
	background-color: gray;
}

#navbar {
	padding: 11px;
}

#navbar li {
	padding: 11px;
}


/*logo*/

.logoDiv {
	padding: 20px 20px 20px 20px;
}


/*containers*/

.container-fluid.contCustomized {
	padding-right: 0px;
	padding-left: 0px;
}

.row.customRow {
	margin-right: 0;
	margin-left: 0;
	overflow: hidden;
	position: relative;
}


/*carousel*/

#mainDiv {
	float: left;
	display: block;
	text-align: center;
	color: #b2b2b2;
	width: 100%;
}

.myCarousel.slick-dotted.slick-slider {
	margin-bottom: 0px;
}

.myCarousel .slick-list {
	height: 300px;
	overflow: hidden;
}

.slick-dots {
	bottom: 25px !important;
}

.slick-dots li {
	width: 30px !important;
	height: 4px !important;
}

.circleIndicator.slick-active {
	background-color: #003D7C;
}

.circleIndicator {
	background-color: white;
	border-radius: 10px;
	width: 40px;
}

.caroImg {
	position: relative;
}

.displayWords {
	position: absolute;
	background: rgba(255, 255, 255, 0.3);
	top: 0px;
	left: 0px;
	padding-top: 10vw;
	padding-left: 2vw;
	padding-right: 2vw;
	text-align: left;
	height: 100%;
	width: 50vw;
	-moz-animation: fadeIn 3s forwards;
	-o-animation: fadeIn 3s forwards;
	-webkit-animation: fadeIn 3s forwards;
	animation: fadeIn 3s forwards;
	opacity: 0;
}

.noWords {
	display: none;
}

.whatsNew {
	font-size: 50px;
	color: #f5f5f5;
}

.whatsNewText {
	font-size: 20px;
	color: #f5f5f5;
}

@media screen and (max-width: 767px) {
	.whatsNew {
		font-size: 16px;
	}
	.whatsNewText {
		font-size: 14px;
	}
	.displayWords {
		padding-top: 5vw;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0.1;
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}


/*section title*/

.card-title.bigCard {
	font-size: 26px;
	font-weight: 400;
	color: black;
	text-align: left;
	margin-left: 15px;
	margin-right: -15px;
	position: relative;
}


/*about*/

#aboutDiv {
	clear: both;
	min-height: 250px;
	width: 100%;
	display: block;
	text-align: center;
	color: #b2b2b2;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-color: #003D7C;
}

.aboutContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 250px;
	background-color: white;
	-webkit-transform: skewY(-10deg);
	-moz-transform: skewY(-10deg);
	-ms-transform: skewY(-10deg);
	-o-transform: skewY(-10deg);
	transform: skewY(-10deg);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
}


/*#aboutDiv:after{ 
  content: "";
  border-left: 95vw solid #f5f5f5;
  border-top: 20px solid transparent;
  border-bottom: 40px solid transparent;
  bottom: -5px;
  position: relative;
  left: -30px; 
}*/

.row.rowAbout {
	padding-left: 10vw;
	padding-right: 10vw;
}

@media screen and (max-width: 991px) {
	.row.rowAbout {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

.card.cardAbout {
	position: relative;
	padding: 20px 0px 0px 0px;
	color: black;
	text-align: left;
}

#readMoreBtn {
	min-height: 40px;
	border: 2px solid #003D7C;
	border-radius: 0px;
	background-color: white;
	color: black;
	font-size: 14px;
}

.moreText {
	display: none;
}

.bubble {
	display: inline-block;
	width: 100%;
	background-color: white;
	padding: 10px;
	text-align: center;
}

.arrowCorner {
	float: right;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 0px solid white;
	border-bottom: 40px solid white;
	position: relative;
	top: -10px;
	left: 40px;
	transform: rotate(180deg);
}

.quoteDiv {
	width: 80%;
	height: 80%;
	margin: 25px auto;
	color: white;
	position: relative;
}

.quote {
	width: 100%;
	height: 100%;
	padding: 20px;
	text-align: center;
}

.quoteDiv:after,
.quoteDiv:before,
.quote:after,
.quote:before {
	content: '';
	position: absolute;
	width: calc(50% - 40px);
	height: calc(50% - 20px);
	border: 2px solid transparent;
}

.quoteDiv:before {
	/* top left */
	top: 10px;
	left: 10px;
	border-top-color: white;
	border-left-color: white;
}

.quoteDiv:after {
	/* top right */
	top: 10px;
	right: 10px;
	border-top-color: white;
	border-right-color: white;
}

.quote:before {
	/* bottom left */
	bottom: 10px;
	left: 10px;
	border-bottom-color: white;
	border-left-color: white;
}

.quote:after {
	/* bottom right */
	bottom: 10px;
	right: 10px;
	border-bottom-color: white;
	border-right-color: white;
}

.missionDiv {
	width: 80%;
	height: 80%;
	position: relative;
	margin: 25px auto 10px auto;
	color: white;
}

.mission1 {
	border-left: 5px solid white;
	padding-left: 10px;
	display: inline-block;
	margin-bottom: 3px;
}

.mission2 {
	border-left: 5px solid black;
	padding-left: 10px;
	display: inline-block;
	margin-bottom: 3px;
}

.mission3 {
	border-left: 5px solid white;
	padding-left: 10px;
	display: inline-block;
	margin-bottom: 3px;
}

.mission4 {
	border-left: 5px solid black;
	padding-left: 10px;
	display: inline-block;
	margin-bottom: 3px;
}

.mission5 {
	border-left: 5px solid white;
	padding-left: 10px;
	display: inline-block;
	margin-bottom: 3px;
}


/*research*/

#researchDiv {
	clear: both;
	min-height: 500px;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 20px;
	background-color: white;
	color: #b2b2b2;
	background-repeat: no-repeat;
	background-size: cover;
}

.arrow-right {
	background-color: black;
	height: 200px;
	left: -50px;
	position: absolute;
	top: -110px;
	width: 200px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.divText {
	position: absolute;
	padding-left: 10px;
	padding-top: 10px;
	text-align: left;
	font-size: 18px;
}

.divTextSmall {
	position: absolute;
	padding-left: 10px;
	padding-top: 10px;
	text-align: left;
	font-size: 16px;
}

.boxAnimate {
	position: absolute;
	height: 10px;
	width: 100%;
	background-color: #003D7C;
	-moz-animation: growWidth 7s infinite;
	-o-animation: growWidth 7s infinite;
	-webkit-animation: growWidth 7s infinite;
	animation: growWidth 7s infinite;
}

@-moz-keyframes growWidth {
	0% {
		width: 0px;
		height: 10px;
	}
	50% {
		width: 100%;
		height: 10px;
	}
	100% {
		width: 100%;
		height: 10px;
	}
}

@-o-keyframes growWidth {
	0% {
		width: 10px;
		height: 10px;
	}
	20% {
		width: 100%;
		height: 10px;
	}
	100% {
		width: 100%;
		height: 10px;
	}
}

@-webkit-keyframes growWidth {
	0% {
		width: 10px;
		height: 10px;
	}
	20% {
		width: 100%;
		height: 10px;
	}
	100% {
		width: 100%;
		height: 10px;
	}
}

@keyframes growWidth {
	0% {
		width: 10px;
		height: 10px;
	}
	20% {
		width: 100%;
		height: 10px;
	}
	100% {
		width: 100%;
		height: 10px;
	}
}

.row.rowResearch {
	padding-left: 75px;
	padding-right: 75px;
}

@media screen and (max-width: 767px) {
	.row.rowResearch {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.cardResearchExpand {
	margin: 15px 0px 20px 0px;
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	overflow: hidden;
}

@media screen and (min-width: 321px) {
	.modal-dialog.modal-xl {
		width: 85vw;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.modal-dialog.modal-xl {
		width: 90vw;
		margin: 0 auto;
	}
}


/*BehavioralChange*/

.cardResearchBehavior {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
	height: 300px;
}

.cardBehaviorOverlay {
	position: absolute;
	width: 100%;
	min-height: 300px;
	max-height: 300px;
	background: rgba(0, 1, 1, 0.6);
	color: white;
	display: none;
	overflow: hidden;
	padding: 20px;
	text-align: left;
}


/*Healthcare*/

.cardResearchHealth {
	position: relative;
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
}

.cardHealthOverlay {
	position: absolute;
	width: 100%;
	min-height: 300px;
	max-height: 300px;
	background: rgba(0, 1, 1, 0.6);
	color: white;
	display: none;
	overflow: hidden;
	padding: 20px;
	text-align: left;
}


/*DataAnalytics*/

.cardResearchData {
	position: relative;
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
}

.cardDataOverlay {
	position: absolute;
	width: 100%;
	min-height: 300px;
	max-height: 300px;
	background: rgba(0, 1, 1, 0.6);
	color: white;
	display: none;
	overflow: hidden;
	padding: 20px;
	text-align: left;
}


/*BehaviorHealthcare*/

.cardResearchBH {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-position: 70% 70%;
	background-size: cover;
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
	height: 300px;
}

.cardBHOverlay {
	position: absolute;
	width: 100%;
	min-height: 300px;
	max-height: 300px;
	background: rgba(0, 1, 1, 0.6);
	color: white;
	display: none;
	overflow: hidden;
	padding: 20px;
	text-align: left;
}


/*HealthcareData*/

.cardResearchHD {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
	height: 300px;
}

.cardHDOverlay {
	position: absolute;
	width: 100%;
	min-height: 300px;
	max-height: 300px;
	background: rgba(0, 1, 1, 0.6);
	color: white;
	display: none;
	overflow: hidden;
	padding: 20px;
	text-align: left;
}


/*NIHA*/

.cardResearchNIHA {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
	height: 300px;
}

.cardNIHAOverlay {
	position: absolute;
	width: 100%;
	min-height: 300px;
	max-height: 300px;
	background: rgba(0, 1, 1, 0.6);
	color: white;
	display: none;
	overflow: hidden;
	padding: 20px;
	text-align: left;
}

#projectDiv1 {
	box-sizing: border-box;
	width: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 30px;
	min-height: 700px;
	position: absolute;
	top: 60px;
	display: block;
}

#projectDiv2 {
	box-sizing: border-box;
	width: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 30px;
	min-height: 700px;
	position: absolute;
	top: 60px;
	display: none;
}

#projectDiv3 {
	box-sizing: border-box;
	width: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 30px;
	min-height: 700px;
	position: absolute;
	top: 60px;
	display: none;
}

.card.cardNihaForum {
	margin: 0px 0px 0px 0px;
	background-color: #f5f5f5;
	color: black;
	overflow: hidden;
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	position: relative;
}

.slideContainerNiha {
	position: relative;
	top: 0px;
	height: auto;
	background-color: black;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

.myNihaPhotos .slide {
	display: none;
}

.myNihaPhotos .slide:first-child {
	display: block;
}

.myNihaPhotos.slick-initialized .slide {
	display: block;
}


/*JYP*/

.cardResearchJYP {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
	height: 300px;
}

.cardJYPOverlay {
	position: absolute;
	width: 100%;
	min-height: 300px;
	max-height: 300px;
	background: rgba(0, 1, 1, 0.6);
	color: white;
	display: none;
	overflow: hidden;
	padding: 20px;
	text-align: left;
}

.row.rowTeamMembers {
	padding-left: 0;
	padding-right: 0;
}

.teamPadding {
	margin-right: -15px;
}

.teamMember,
.teamMemberSmall {
	box-sizing: border-box;
	margin-bottom: 10px;
	min-height: 140px;
	max-height: 140px;
	overflow-x: hidden;
	background-color: #003D7C;
	color: white;
}

.teamMember img {
	width: 100px;
}

.teamMemberSmall img {
	width: 60px;
}

.leftDetails {
	min-width: 145px;
	max-width: 145px;
	float: left;
	padding: 5px;
	word-wrap: break-word;
}

.leftDetailsExtended {
	width: 100%;
	float: left;
	padding: 5px;
	overflow: auto;
}

.rightDetails {
	margin-right: 10px;
	padding-top: 5px;
	overflow: auto;
}

p.researchTitle {
	font-size: 24px;
	margin-top: 20px;
}

.scrollingDiv {
	position: absolute;
	top: 20px;
	bottom: 100px;
	left: 0;
	right: 10px;
	padding: 0px 30px 30px 30px;
	overflow-y: scroll;
	-moz-animation: scrollingDivMove ease 1.5s forwards;
	-o-animation: scrollingDivMove ease 1.5s forwards;
	-webkit-animation: scrollingDivMove ease 1.5s forwards;
	animation: scrollingDivMove ease 1.5s forwards;
}

@-moz-keyframes scrollingDivMove {
	from {
		top: -50px;
	}
	to {
		top: 30px;
	}
}

@-o-keyframes scrollingDivMove {
	from {
		top: -50px;
	}
	to {
		top: 30px;
	}
}

@-webkit-keyframes scrollingDivMove {
	from {
		top: -50px;
	}
	to {
		top: 30px;
	}
}

@keyframes scrollingDivMove {
	from {
		top: -50px;
	}
	to {
		top: 30px;
	}
}

.bottom-button {
	bottom: 0;
	left: 0;
	position: absolute;
	min-width: 100%;
	min-height: 60px;
	line-height: 60px;
	background-color: white;
	text-align: center;
}

.btn.btnCustomised {
	min-height: 80px;
	border: none;
	border-radius: 0px;
	background-color: #003D7C;
	color: white;
	font-size: 18px;
}

.btn.btnCustomised:hover {
	border: 1px solid white;
	color: white;
}

.modal-content.modalWhole {
	background-color: #252120;
	height: 100vh;
}

.modal-title {
	color: white;
}

.researchModalDiv {
	height: 75vh;
	background-color: white;
}

.modalInfo {
	text-align: left;
}

.modal-header .close.closeTop {
	margin-top: -20px;
}

.close.closeTop {
	color: white;
	text-shadow: none;
	font-size: 45px;
	opacity: 0.5;
	font-weight: 300;
}

.close.closeTop:hover {
	color: white;
	font-size: 45px;
	opacity: 1;
}

.close.closeTop:focus {
	color: white;
	font-size: 45px;
	opacity: 1;
}

.scrollingModal,
.scrollingModalProj {
	position: relative;
	height: 60vh;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 20px 30px 30px 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	color: black;
}


/*navtabs*/

.tabList {
	padding: 0;
	overflow-x: scroll;
}

.tabItem {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 5px;
	text-align: center;
	background-color: #252120;
	white-space: nowrap;
}

li.tabItem:hover {
	background: rgba(0, 0, 0, 0.9);
}

.tabItem:first-child:nth-last-child(1),
.tabItem:first-child:nth-last-child(1)~.tabItem {
	width: 100%;
}

.tabItem:first-child:nth-last-child(2),
.tabItem:first-child:nth-last-child(2)~.tabItem {
	width: 50%;
}

.tabItem:first-child:nth-last-child(3),
.tabItem:first-child:nth-last-child(3)~.tabItem {
	width: 33.3333333333%;
}

.tabItem:first-child:nth-last-child(4),
.tabItem:first-child:nth-last-child(4)~.tabItem {
	width: 25%;
}

.tabItem:first-child:nth-last-child(5),
.tabItem:first-child:nth-last-child(5)~.tabItem {
	width: 20%;
}

.tabItem:first-child:nth-last-child(6),
.tabItem:first-child:nth-last-child(6)~.tabItem {
	width: 16.6666666667%;
}

.tabItem:first-child:nth-last-child(7),
.tabItem:first-child:nth-last-child(7)~.tabItem {
	width: 14.2857142857%;
}

.navCustomised {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
}

.navCustomised>li>a {
	color: white;
}

.navCustomised>li>a:hover {
	text-decoration: none;
}

.navCustomised>li.active>a:focus {
	color: white;
	background-color: #003D7C;
	text-decoration: none;
}

.navCustomised>li.active>a {
	color: white;
	background-color: #003D7C;
	text-decoration: none;
}


/*dropdown width*/

.dropdown.bootstrap-select {
	width: 150px !important;
}

div .dropdown-menu.open {
	max-width: 220px !important;
}


/*people*/

#peopleDiv {
	clear: both;
	min-height: 400px;
	width: 100%;
	display: inline-block;
	text-align: center;
	color: #b2b2b2;
	padding: 20px;
	background-color: white;
}

@media screen and (min-width: 1200px) {
	.row.rowPeople {
		padding-left: 12vw;
		padding-right: 12vw;
	}
}

@media screen and (max-width: 1199px) {
	.row.rowPeople {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

.card.cardPeople {
	margin: 15px 0px 15px 0px;
	width: 100%;
	display: inline-block;
	background-image: repeating-linear-gradient(40deg, white, white 90px, #003d7c 20px, #003d7c 270px);
	cursor: default;
  height: 280px;
}

.role {
	height: 50px;
	bottom: 90px;
	/* left: calc(50% - 80px); */
	font-size: 12px;
	text-align: center;
	padding: 10px;
	color: white;
  float: left;
}


/*.role:after {
    content: '';
    width: 0px;
    height: 0px;
    border: 15px solid transparent;
    border-top-color: #003D7C;
}*/

.circle {
	position: relative;
  top: 50px;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	background: black;
	background-size: cover;
	margin: 0 auto;
	cursor: pointer;
	z-index: 15;
	transition: all .2s ease-in-out;
}

.circle:hover {
	transform: scale(1.07);
}

.border {
	height: 83px;
	width: 166px;
	top: -8px;
	left: -8px;
	position: absolute;
	border-top: 2px solid black;
	border-top-left-radius: 332px;
	border-top-right-radius: 332px;
}

.rotate {
	-moz-animation: 3s ease infinite rotate;
	-o-animation: 3s ease infinite rotate;
	-webkit-animation: 3s ease infinite rotate;
	animation: 3s ease infinite rotate;
	position: absolute;
	transform-origin: 50% 100%;
}

@keyframes rotate {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg)
	}
}

.rectangle {
	line-height: 22px;
	height: 75px;
	width: 100%;
	background-color: white;
	position: relative;
  top: 50px;
	z-index: 10;
	color: black;
	overflow: hidden;
	margin-top: 20px;
	cursor: pointer;
}

.anotherRect {
	line-height: 55px;
	height: 55px;
	background-color: black;
	position: absolute;
	top: 235px;
	width: calc(100% - 31px);
}


/*.fold{
  position: absolute;
  border-style: solid;
  top: 15px;
  right: 15px;
  border-width: 0 40px 40px 0;
  border-color: white white black white;
}*/

@media screen and (max-width:991px) and (min-width: 768px) {
	.fold {
		border-width: 0 30px 30px 0;
	}
}

overlayCircle {
	position: absolute;
	width: 150px;
	border-radius: 75px;
	background: red;
	top: 0px;
	z-index: 15;
	cursor: pointer;
}


/*activities*/

#activitiesDiv {
	clear: both;
	min-height: 500px;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 20px;
	background: linear-gradient(110deg, white 35%, #003d7c 35%)
}

.row.rowActivities {
	padding-left: 75px;
	padding-right: 75px;
}

@media screen and (max-width: 767px) {
	.row.rowActivities {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.card.cardActNews {
	margin: 20px 0px 20px 0px;
	padding-top: 5px;
	background-position: 50% 75%;
	background-color: #F5F5F5;
	color: black;
	min-height: 470px;
	overflow: visible;
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
}

.card.cardActArticles {
	margin: 20px 0px 20px 0px;
	padding-top: 5px;
	background-position: 95% 95%;
	background-color: #F5F5F5;
	color: black;
	min-height: 470px;
	overflow: visible;
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
}

a.newsLink {
	text-decoration: underline;
	color: black;
}

a.newsLink:hover {
	text-decoration: none;
	color: black;
}

.card.cardActEvents {
	margin: 20px 0px 20px 0px;
	padding-top: 5px;
	background-position: 50% 75%;
	background-color: #F5F5F5;
	color: black;
	min-height: 200px;
	overflow: visible;
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
}

.scrollingContainer {
	box-sizing: border-box;
	width: calc(100% - 20px);
	position: absolute;
	min-height: 250px;
	overflow: hidden;
	text-align: left;
}

.scrollingContainerLarge {
	box-sizing: border-box;
	width: calc(100% - 20px);
	position: absolute;
	min-height: 400px;
	overflow: hidden;
	text-align: left;
}

.scrollingContainerPhotos {
	position: absolute;
	width: calc(100% - 20px);
	min-height: 450px;
	color: black;
	overflow: hidden;
	text-align: left;
}

.slideContainer {
	position: relative;
	top: 15px;
	height: auto;
	background-color: black;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

.myPhotos {
	background: url("https://media.giphy.com/media/5q25o6gaLRQ3dVOz0E/giphy.gif");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.myPhotos img {
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 767px) {
	#selectEvent {
		width: 50vw;
	}
}

.selectedEvent {
	position: relative;
	top: 10px;
	font-size: 14px;
	margin: 5px;
	display: block;
}

@media screen and (max-width: 767px) {
	.selectedEvent {
		font-size: 12px;
	}
}

.dropdown-menu>.active>a {
	background-color: black !important;
}

.dropdown-menu.open .dropdown-menu>li>a {
	font-size: 12px;
}

@media screen and (max-width: 767px) {
	.dropdown-menu.open .dropdown-menu>li>a {
		font-size: 11px;
	}
}

p.card-text.aboutText {
	font-size: 30px;
	margin-top: 10px;
}

p.card-text.textCustomized {
	font-size: 20px;
	margin-top: 10px;
}

.box {
	position: relative;
	width: 24px;
	height: 24px;
}

.chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	-moz-transform: scale3d(0.5, 0.5, 0.5);
	-webkit-transform: scale3d(0.5, 0.5, 0.5);
	transform: scale3d(0.5, 0.5, 0.5);
	-moz-animation: move 3s ease-out infinite;
	-o-animation: move 3s ease-out infinite;
	-webkit-animation: move 3s ease-out infinite;
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	-moz-animation: move 3s ease-out 1s infinite;
	-o-animation: move 3s ease-out 1s infinite;
	-webkit-animation: move 3s ease-out 1s infinite;
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	-moz-animation: move 3s ease-out 2s infinite;
	-o-animation: move 3s ease-out 2s infinite;
	-webkit-animation: move 3s ease-out 2s infinite;
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: black;
	opacity: 0.3;
}

.chevron:before {
	left: 0;
	-moz-transform: skew(0deg, 30deg);
	-o-transform: skew(0deg, 30deg);
	-webkit-transform: skew(0deg, 30deg);
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	-moz-transform: skew(0deg, -30deg);
	-o-transform: skew(0deg, -30deg);
	-webkit-transform: skew(0deg, -30deg);
	transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
	25% {
		opacity: 1;
	}
	33% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	67% {
		opacity: 1;
		-webkit-transform: translateY(40px);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

@-moz-keyframes move {
	25% {
		opacity: 1;
	}
	33% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	67% {
		opacity: 1;
		-moz-transform: translateY(40px);
	}
	100% {
		opacity: 0;
		-moz-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

@-o-keyframes move {
	25% {
		opacity: 1;
	}
	33% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	67% {
		opacity: 1;
		-o-transform: translateY(40px);
	}
	100% {
		opacity: 0;
		-o-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

@keyframes move {
	25% {
		opacity: 1;
	}
	33% {
		opacity: 1;
		transform: translateY(30px);
	}
	67% {
		opacity: 1;
		transform: translateY(40px);
	}
	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

@-webkit-keyframes pulse {
	to {
		opacity: 1;
	}
}

@-moz-keyframes pulse {
	to {
		opacity: 1;
	}
}

@-o-keyframes pulse {
	to {
		opacity: 1;
	}
}

@keyframes pulse {
	to {
		opacity: 1;
	}
}

.scrollingNews {
	width: calc(100% - 20px);
	padding: 0px 20px 30px 20px;
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 0px;
	overflow-y: scroll;
	max-height: 350px;
	font-size: 24px;
}

.scrollingEvents {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 0px;
	right: 0px;
	max-height: 350px;
	width: calc(100% - 20px);
	padding: 0px 50px 30px 20px;
	overflow-y: scroll;
}

#event1 {
	position: relative;
	background-color: black;
	margin-left: 20px;
}

#event2 {
	position: relative;
	background-color: yellow;
	margin-left: 20px;
}


/*timeline*/

.timeline {
	margin-top: 30px;
	position: relative;
	max-width: 46em;
}

.timeline li {
	list-style: none;
	margin-left: -85px;
}

.timeline:before {
	background-color: black;
	content: '';
	margin-left: -35px;
	position: absolute;
	top: 0;
	left: 45px;
	width: 2px;
	height: 100%;
}

.timeline-event {
	position: relative;
}

.timeline-event:hover .timeline-event-icon {
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #003D7C;
}

.timeline-event:hover .timeline-event-thumbnail {
	background-color: black;
}

.timeline-event-copy {
	padding-left: 50px;
	position: relative;
	left: 35px;
	width: 90%;
	overflow-x: hidden;
}

.timeline-event-icon {
	-moz-transition: -moz-transform 0.2s ease-in;
	-o-transition: -o-transform 0.2s ease-in;
	-webkit-transition: -webkit-transform 0.2s ease-in;
	transition: transform 0.2s ease-in;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: black;
	outline: 2px solid white;
	display: block;
	position: absolute;
	top: 5px;
	left: 49px;
	width: 15px;
	height: 15px;
}

.timeline-event-thumbnail {
	-moz-transition: box-shadow 0.5s ease-in 0.1s;
	-o-transition: box-shadow 0.5s ease-in 0.1s;
	-webkit-transition: box-shadow 0.5s ease-in;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	transition: box-shadow 0.5s ease-in 0.1s;
	color: white;
	position: absolute;
	font-size: 14px;
	background-color: #003D7C;
	display: inline-block;
	padding: 0.25em 1em 0.2em 1em;
}

.pLastChild {
	margin-bottom: 10px;
}

.pTimeLine {
	margin-top: 30px;
}


/*contact*/

#contactDiv {
	clear: both;
	min-height: 190px;
	background: white;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 20px;
	color: black;
}

.card.cardContact {
	background: white;
	position: relative;
	padding: 20px 20px 0px 20px;
}

a div#bottom-right {
	color: #252120;
}


/*sideNav*/

.sidenav.sideNavCustom {
	height: 100%;
	position: fixed;
	width: 0px;
	z-index: 500;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	overflow-x: hidden;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.sidenav a {
	padding: 8px 20px;
	text-decoration: none;
	font-size: 16px;
	color: white;
	display: block;
	text-align: right;
}

.sidenav a:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}

.sidenav .closebtn {
	position: relative;
	top: 0;
	right: 0px;
	font-size: 50px;
	margin-left: 0px;
}

#sideNavMenu {
	background-image: url("http://oi67.tinypic.com/351ejpi.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	position: fixed;
	text-align: right;
	top: 15px;
	right: 20px;
	z-index: 20;
	color: black;
	display: none;
}

.navIcon {
	height: 50px;
	width: 50px;
	cursor: pointer;
}


/*image related*/

img {
	-webkit-filter: grayscale(50%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(50%);
	max-height: 100%;
	max-width: 100%
}

.event1 img {
	-webkit-filter: grayscale(50%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(50%);
	max-height: 100%;
	max-width: 100%
}

img.avatar {
	-webkit-filter: grayscale(50%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(50%);
	max-height: 100%;
	max-width: 100%
}

img.logoImg {
	-webkit-filter: grayscale(0%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
	width: auto;
	max-height: 60px;
}

@media screen and (max-width: 767px) {
	img.logoImg {
		max-height: 40px;
	}
	;
}


/*anchor related*/

a.iconHover {
	color: white;
}

a.iconHover:hover {
	color: gray;
}


/*prevent from turning blue!!!!*/

a.iconHover:focus {
	color: white;
	outline: 0;
}


/*collapsing tabs*/

.collapsible {
	background-color: #f5f5f5;
	color: black;
	cursor: pointer;
	padding-left: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 14px;
}

@media screen and (max-width: 767px) {
	.collapsible {
		font-size: 13px;
	}
}

.collapsible:after {
	content: '\002B';
	color: black;
	padding-left: 10px;
}

.activeOutline:after {
	content: "\2212";
}

.outLine {
	max-height: 0;
	overflow-y: scroll;
	background-color: white;
}

.button .subtitle {
	border: none;
}